<div class="cookies-message" id="cookies-message">
    <h4>Este sitio web utiliza cookies</h4>
    <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, usted acepta todas las cookies de acuerdo con nuestra Política de cookies.</p>
    <div class="buttons">
        <a class="button" href="{{ '/cookies.html' | relative_url }}">Leer política de cookies</a>
        <button class="button" id="accept-cookies">Aceptar</button>
    </div>
</div>
<script>
    (function() {
        if(localStorage) {
            var cookiesAccepted = localStorage.getItem("cookies-accepted");
            if(cookiesAccepted) {
                hideCookiesMessage();
                
            } else {
                document.getElementById('accept-cookies').addEventListener("click", function() {
                    hideCookiesMessage();
                    localStorage.setItem("cookies-accepted", true);
                })
            }
        }
        function hideCookiesMessage() {
            document.getElementById('cookies-message').style.display = "none";
        }
    })();
</script>