<div class="cookies-message" id="cookies-message">
    <h4>{{ site.data[site.active_lang]["cookies-message"].title }}</h4>
    <p>{{ site.data[site.active_lang]["cookies-message"].content }}</p>
    <div class="buttons">
        <a class="button" href="{{ '/cookies.html' | relative_url }}">{{ site.data[site.active_lang]["cookies-message"].read }}</a>
        <button class="button" id="accept-cookies">{{ site.data[site.active_lang]["cookies-message"].accept }}</button>
    </div>
</div>
<script>
    (function() {
        if(localStorage) {
            var cookiesAccepted = localStorage.getItem("cookies-accepted");
            if(cookiesAccepted) {
                hideCookiesMessage();
                
            } else {
                document.getElementById('accept-cookies').addEventListener("click", function() {
                    hideCookiesMessage();
                    localStorage.setItem("cookies-accepted", true);
                })
            }
        }
        function hideCookiesMessage() {
            document.getElementById('cookies-message').style.display = "none";
        }
    })();
</script>