<footer>
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__sello">
                <img src="{{ '/assets/images/arima_sello_white.png' | relative_url }}" alt="" />
            </div>
            <div class="footer__content">
                <div class="footer__data">
                    <dl>
                        <dt>{{ site.data[site.active_lang]["footer"].web_text }}</dt>
                        <dd><a itemprop="sameAs" href="{{ site.data[site.active_lang]['footer'].web_url }}">arima.eu</a></dd>
                    </dl>
                    <dl>
                        <dt>{{ site.data[site.active_lang]["footer"].social }}</dt>
                        <dd>
                            <a itemprop="sameAs" href="https://github.com/wearearima" class="social"><span class="icon-github"></span></a>
                            <a itemprop="sameAs" href="https://twitter.com/wearearima" class="social"><span class="icon-twitter"></span></a>
                            <a itemprop="sameAs" href="https://www.linkedin.com/company/arima-software-design/" class="social"><span class="icon-linkedin"></span></a>
                            <a itemprop="sameAs" href="{{ "/feed.xml" | relative_url }}" class="social"><span class="icon-feed"></span></a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>{{ site.data[site.active_lang]["footer"].privacy_title }}</dt>
                        <dd class="politica-cookies">
                            <a href="{{ '/cookies.html' | relative_url }}">{{ site.data[site.active_lang]["footer"].cookies_policy }}</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</footer>