<header role="banner" class="home-cover">
  <div class="wrapper">    
    <div>
      <div class="brand__container hide-on-laptop">
        <div class="brand">
          {% include arima-logo.html %}
        </div>
        <div class="claim">
          <span class="claim__text"></span>
          <div class="claim__description">
            <div>BLOG</div>
          </div>
        </div>
      </div>
      <div class="brand__container brand__container--mobile show-on-laptop">
          <div class="claim">
              <div class="claim__description">
                <div>BLOG</div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="language-selector hide-on-laptop">
    {% for tongue in site.languages %}
      {% if site.data.languages[tongue].label == site.data.languages[site.active_lang].label %}
        <b class="selected">{{ site.data.languages[tongue].label }}</b>
      {% else %}
        <a class="unselected" href="{{site.baseurl}}/{{ tongue }}{{page.url}}">{{ site.data.languages[tongue].label }}</a>
      {% endif %}
      {% if tongue != site.languages.last %}
        &nbsp;|&nbsp;
      {% endif %}
    {% endfor %}
 </div>
</header>