<header role="banner" class="home-cover">
  <div class="wrapper">    
    <div>
      <div class="brand__container hide-on-laptop">
        <div class="brand">
          {% include arima-logo.html %}
        </div>
        <div class="claim">
          <span class="claim__text"></span>
          <div class="claim__description">
            <div>BLOG</div>
          </div>
        </div>
      </div>
      <div class="brand__container brand__container--mobile show-on-laptop">
          <div class="claim">
              <div class="claim__description">
                <div>BLOG</div>
              </div>
            </div>
        </div>
    </div>
  </div>
</header>