<nav class="toolbar">
    <div class="wrapper">    
        <a href="/">
            <div class="toolbar__logo">
                {% include arima-logo.html %}
            </div>
        </a>
        <!-- Language selector -->
        <div class="language-selector">
            {% for tongue in site.languages %}
              {% if site.data.languages[tongue].label == site.data.languages[site.active_lang].label %}
                <b class="selected">{{ site.data.languages[tongue].label }}</b>
              {% else %}
                <a class="unselected" href="{{site.baseurl}}/{{ tongue }}{{page.url}}">{{ site.data.languages[tongue].label }}</a>
              {% endif %}
              {% if tongue != site.languages.last %}
                &nbsp;|&nbsp;
              {% endif %}
            {% endfor %}
         </div>
    </div>
</nav>
<div id="publisher_id" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Arima 100% Software Design" />
    <meta itemprop="url" content="https://arima.eu" />
    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="https://arima.eu/img/logo.png" />
    </div>
</div>