<nav class="toolbar">
    <div class="wrapper">    
        <a href="/">
            <div class="toolbar__logo">
                {% include arima-logo.html %}
            </div>
        </a>
    </div>
</nav>
<div id="publisher_id" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Arima 100% Software Design" />
    <meta itemprop="url" content="https://arima.eu" />
    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="https://arima.eu/img/logo.png" />
    </div>
</div>