/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

#post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 1.5;
  }

  h2,p{
    margin-bottom: 8px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  font-size: 26px;
  @include media-query($on-palm) {
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1;
  }
}