.toolbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: white;
    // @extend %cardboard-background;
    width: 100%;
    height: 40px;
    z-index: 10;
    .body-home & {
        display: none;
    }
    @include media-query($on-laptop) {
        display: block;
    }
    border-bottom: 1px solid #ccc;
    .toolbar__logo {
        height: 24px;
        width: 132px;
        margin: 8px 0;
        padding: 0;
        display: inline-block;
    }
    a {
        color: #333;
        &:hover {
            opacity: .6;
        }
    }
}