$toolbar-height: 40px;

.toolbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: white;
    // @extend %cardboard-background;
    width: 100%;
    height: $toolbar-height;
    z-index: 10;
    .body-home & {
        display: none;
    }
    @include media-query($on-laptop) {
        display: block;
    }
    border-bottom: 1px solid #ccc;
    .toolbar__logo {
        height: 24px;
        width: 132px;
        margin: 8px 0;
        padding: 0;
        display: inline-block;
    }
    a {
        color: #333;
        &:hover {
            opacity: .6;
        }
    }
    /* Language selector */
    .language-selector {
        color: black;
        font-size: 12px;
        float: right;
        height: $toolbar-height;
        line-height: $toolbar-height;
        .selected {
          font-family: $bold-font-family;
        }
        .unselected {
          color: inherit;
          text-decoration: none;
          font-family: $thin-font-family;
        }
      }
}