<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/Blog">

  {% include head.html %}

  <body class="body-home">

    {% include home-cover.html %}
    {% include toolbar.html %}
    <main aria-label="Content">
      <div class="wrapper">
        <div class="home">

          {{ content }}

          {% assign active_lang = site.active_lang %}
          {% assign date_format = site.data[site.active_lang].l10n.date_format %}
          {% if active_lang == site.default_lang %}
            {% assign active_lang = site.languages[0] %}
          {% endif %}
          <ul id="post-list">
            {% assign filtered-posts = site.posts | where: "lang", active_lang %}
            {% for post in filtered-posts %}
              <li itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" itemref="publisher_id">
                <h2>
                  <a class="post-link" href="{{ post.url | relative_url }}"><span itemprop="name headline">{{ post.title | escape }}</span></a>
                </h2>
                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <meta itemprop="url" content="https://blog.arima.eu{{site.baseurl}}/assets/images/{{post.header-image}}" />
                </div>

                <p>
                  {{ post.excerpt | strip_html | truncatewords: 50 }}
                </p>
                <div class="post-meta" itemscope itemtype="https://schema.org/Person" itemprop="author">
                  {% assign author = site.authors[post.author] %}
                  <div class="author-photo">
                    <img itemprop="image" src="{{site.baseurl}}/assets/images/authors/{{post.author}}.png" alt="">
                  </div>
                  <div>
                    <span itemprop="name" class="post-author">{{ author.display_name }}</span>
                  </div>
                  <div class="post-meta">
                    <span class="post-date">{{ post.date | date: date_format  }}</span>
                  </div>
                </div>
                <meta  itemprop="datePublished dateModified" content="{{ post.date | date: date_format  }}" />
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include cookies-message.html %}
    <script src="{{ "/assets/toolbar-script.min.js" | relative_url }}"></script>
  </body>
</html>