@font-face {
	font-family: 'gothambold';
	src: url('fonts/gotham/gotham-bold_0-webfont.eot');
	src: url('fonts/gotham/gotham-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gotham/gotham-bold_0-webfont.woff') format('woff'),
		 url('fonts/gotham/gotham-bold_0-webfont.ttf') format('truetype'),
		 url('fonts/gotham/gotham-bold_0-webfont.svg#gothambold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothambook';
	src: url('fonts/gotham/gotham-book_0-webfont.eot');
	src: url('fonts/gotham/gotham-book_0-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gotham/gotham-book_0-webfont.woff') format('woff'),
		 url('fonts/gotham/gotham-book_0-webfont.ttf') format('truetype'),
		 url('fonts/gotham/gotham-book_0-webfont.svg#gothambook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamthin';
	src: url('fonts/gotham/gotham-thin_0-webfont.eot');
	src: url('fonts/gotham/gotham-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gotham/gotham-thin_0-webfont.woff') format('woff'),
		 url('fonts/gotham/gotham-thin_0-webfont.ttf') format('truetype'),
		 url('fonts/gotham/gotham-thin_0-webfont.svg#gothamthin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamextra_light';
	src: url('fonts/gotham/gotham-xlight-webfont.eot');
	src: url('fonts/gotham/gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gotham/gotham-xlight-webfont.woff') format('woff'),
		 url('fonts/gotham/gotham-xlight-webfont.ttf') format('truetype'),
		 url('fonts/gotham/gotham-xlight-webfont.svg#gothamextra_light') format('svg');
	font-weight: normal;
	font-style: normal;
}